<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>collages</title>
        <meta
            name="description"
            content="site to embed tiktok slideshows in discord."
        />
    </head>
    <body>
        <style>
            h1 {
                text-align: center;
            }
            ul {
                text-align: center;
                list-style-position: inside;
            }
            p {
                text-align: center;
            }
            .source {
                text-align: center;
                display: block;
            }
            .new-collage {
                margin-top: 10px;
                text-align: center;
            }
        </style>
        <h1>explod</h1>
        <p>currently storing {{ .count }} collages. taking up {{ .size }}</p>
        <a
            class="source"
            href="https://github.com/Masterjoona/slideshow-embed"
            target="_blank"
            >source code</a
        >
        <div class="new-collage">
            <select id="collage-type-select">
                <option value="t">Collage</option>
                <option value="s">Sound collage</option>
                <option value="f">Slideshow</option>
            </select>
            <input type="text" id="tiktok-link" placeholder="Tiktok link" />
            <button id="go" onclick="newCollage()">go</button>
            <script>
                function newCollage() {
                    const type = document.getElementById(
                        "collage-type-select"
                    ).value;
                    const link = document.getElementById("tiktok-link").value;
                    if (link === "") return;
                    if (
                        link.includes("tiktok.com") &&
                        !link.startsWith("https://www.")
                    ) {
                        link = "https://www." + link;
                    }
                    window.open(location.origin + "/" + type + "?v=" + link);
                }
            </script>
        </div>
        {{ if not .FileLinks }}
        <ul>
            <li>No links to display.</li>
        </ul>
        {{ else }}
        <ul>
            {{ range .FileLinks }}
            <li><a href="{{ .Path }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </body>
</html>
