<html>
    <head>
        <title>{{ .authorName }} | {{ .details }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="og:site_name" content="Slideshow embedder" />
        <meta name="twitter:site_name" content="Slideshow embedder" />
        <meta name="theme-color" content="#ee1d51" />
        <meta name="description" content="guh?" />
        <meta property="twitter:player" content="{{ .videoUrl }}" />
        <meta property="og:video" content="{{ .videoUrl }}" />
        <meta property="og:video:secure_url" content="{{ .videoUrl }}" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="{{ .width }}" />
        <meta property="og:video:height" content="{{ .height }}" />
        <meta property="twitter:player:width" content="{{ .width }}" />
        <meta property="twitter:player:height" content="{{ .height }}" />
        <meta property="og:type" content="video.other" />
    </head>
    <body style="display: flex; flex-direction: column; align-items: center;">
        <style>
            .buttons {
                margin: 10px;
            }
        </style>
        <button class="buttons" id="tiktok" type="button">tiktok</button>
        <button class="buttons" id="index" type="button">index</button>
        <p>{{ .details }}</p>
        <p>{{ .caption }}</p>
        <video controls autoplay loop muted playsinline>
            <source src="{{ .videoUrl }}" type="video/mp4" />
        </video>
        <script>
            const tiktok = document.getElementById("tiktok");
            tiktok.addEventListener("click", () => {
                window.location.replace(location.search.replace("?v=",""));
            });
            const index = document.getElementById("index");
            index.addEventListener("click", () => {
                window.location.replace(location.origin);
            });
        </script>
    </body>
</html>
